.calcDisplay__container{
    display:flex;
    justify-content:center;

    form{
        display:flex;
        flex-direction:column;
        border: 1px solid black;
        margin:15px;
        width:100%;
        font-size:25px;
    
    }

    .calcDisplay__output{
        border:none;
        text-align:right;
        height:25px;

        &--result{
            background-color: rgba(214, 213, 213, 0.541);
            color:white;
            text-align:right;
            border:none;
            height: 25px;
        }
    }

}
